extends layout 
 
block content 
  h1= title 
 
  form(id='PuppyForm', action="/resource/puppy", method="POST") 
    div.form-group 
        label.puppyAttr(for='puppy_breed') Puppy Breed 
        input#puppy_breed(type='text', name='puppy_breed') 
    div.form-group 
        label.puppyAttr(for='size') Puppy size 
        input#size(type='text', name='size') 
    div.form-group 
        label.puppyAttr(for='weight') Puppy weight 
        input#cost(type='number', name='cost') 
    input(type="submit") 
 
  script. 
    document.forms['PuppyForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 