extends layout 
 
block content 
  h1= title 
 
  - let puppy_breed = toShow._breed 
  - let type = toShow.type 
  - let size = toShow.size 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{puppy_breed} 
  - let actionid = "/resource/puppy/" + puppy_breed 
  form(id='PuppyForm', action= actionid, method="PUT") 
    div.form-group 
        label.puppyAttr(for='puppy_breed') Puppy Breed
        input#puppy_breed(type='text', name='puppy_breed', value= puppy_breed ) 
    div.form-group 
        label.puppyAttr(for='size') Puppy size 
        input#size(type='text', name='size', value= size ) 
    div.form-group 
        label.puppyAttr(for='weight') Puppy weight 
        input#weight(type='number', name='weight', value= weight ) 
    input(type="submit") 
 
  script. 
    document.forms['PuppyForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 